#dlg-select_groups {
  width: 600px;
}

#resizeSelOrgX {
  height: 400px;
}

#resizeSelOrgX .ui-layout-resizer-west {
  background-image: url("../img/bg-menu_border.gif");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 10px;
}

#resizeSelOrgX .ui-layout-resizer-west-dragging {
  background-image: none;
  background-color: #999;
  filter: alpha(opacity=50);
  opacity: .5;
}

#selorg-leftpane {
  border: 1px solid #7F9DB9;
  overflow: auto;
  width: 200px;
}

#selorg-leftpane-inner_block {
  padding: 2px;
}

#select_groups-org_tree-root {
  padding: 0;
}

.selectorg-label {
  white-space: nowrap;
}

.org-line-selected, .org-line-selected:visited {
  color: #999;
  cursor: default;
  text-decoration: none;
}

#selorg-rightpane {
  border: 1px solid #7F9DB9;
  overflow: auto;
}

#selorg-rightpane-inner_block {
  padding: 2px;
}
