#csv_setting {
  width: 260px;
}

#csv_setting-columns {
  border: 1px solid #7F9DB9;
  height: 300px;
  overflow: auto;
  _width: 260px;
}

#csv_setting-columns li {
  _line-height: 0;
}

.csv_setting-columns-label {
  cursor: pointer;
  display: block;
  padding: 0;
  _line-height: normal;
  _cursor: auto;
}

.csv_setting-columns-label:hover {
  background-color: #def;
}

#csv_setting-option {
  margin-top: 10px;
}

#csv_setting-option label {
  padding: 4px;
}