.display-none {
  display: none;
}

.print_setting_area table {
  margin-bottom: 10px;
}

.result_area {
  margin: 0 5px;
}

@media print {
  div.noprint {
    display: none;
  }
}

#db_record_print .record_detail_table_print {
  border: none;
}

#db_record_print .record_detail_table_print th {
  background-color: #f6f6f6;
  border: 1px solid #666;
  color: #333;
}

#db_record_print .record_detail_table_print td {
  background-color: #fff;
  border: 1px solid #666;
  color: #333;
}

#db_record_print .record_detail_table_print th div {
  min-width: 50px;
  max-width: 200px;
  word-wrap: break-word;
  word-break: break-all;
}

#db_record_print .record_detail_table_print td.head_row {
  border: none;
  text-align: left;
  padding-top: 15px;
}

#db_record_print .record_detail_table_print td div.dsp_title {
  white-space: nowrap;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
}

#db_record_print .record_detail_table_print td div.dsp_page {
  float: right;
  white-space: nowrap;
  text-align: right;
}

#db_record_print .record_detail_table_print .layout-col {
  padding: 0;
}

#db_record_print .record_detail_table_print .none-table-border {
  border-style: none;
  /height: 8px;
}

#db_record_print .record_detail_table_print .div-separate {
  background-color: #CCC;
  font-size: 0;
  height: 2px;
}

#db_record_print .record_detail_table_print .layout-item-title {
  border-bottom: medium none;
  border-top: medium none;
  width: 130px;
  word-wrap: break-word;
  overflow: hidden;
}

#db_record_print .record_detail_table_print .first {
  border-left: medium none;
}

#db_record_print .record_detail_table_print .layout-item-data {
  border-style: none;
  word-wrap: break-word;
  overflow: hidden;
}

#db_record_print .record_detail_table_print .layout-item-dummy-title {
  background-color: #FFF;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #fff;
  width: 130px;
}

#db_record_print .record_detail_table_print .layout-item-dummy-data {
  background-color: #FFF;
  border-style: none;
}

#db_record_print .layout-item-data_url td {
  border-style: none;
  padding: 0;
}

#db_record_print .layout-item-data_url table {
  width: auto;
}

#db_record_print .layout-item-data_selects td {
  border-style: none;
  padding: 0;
}

#db_record_print .layout-item-data_selects table {
  width: auto;
}

#db_record_print .layout-item-data_file table {
  width: auto;
}

#db_record_print .layout-item-data_file td {
  border-style: none;
  padding: 1px;
}