.display-none {
  display: none;
}

.webdb-form-submit-container {
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.sep_line {
  margin: 0;
}

.recs-input_area div, .recs-input_area table, .recs-input_area form {
  display: inline;
}

.recs-input_area input, .recs-input_area select, .recs-input_area textarea {
  vertical-align: middle;
}

.confirm_area span.confirm_strong {
  font-weight: bold;
}

.dsp_msg {
  text-align: center;
}

#result {
  display: none;
}

.errmsg_detail_table {
  width: auto;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.errmsg_detail_table td {
  text-align: left;
  border: none;
}
