.message_table_container {
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

.message_table {
  table-layout: auto;
  width: auto;
  margin: auto;
}

.message_table td,
.message_table th {
  border: 0;
}

.message_waku_tl {
  font-size: 0;
  padding: 0;
  width: 5px;
  height: 5px;
  background-image: url(../img/cborder_tl.gif);
  background-position: 0 -0px;
}

.message_waku_tc {
  font-size: 0;
  padding: 0;
  background-image: url(../img/cborder_tc.gif);
  background-position: 0 -0px;
}

.message_waku_tr {
  font-size: 0;
  padding: 0;
  width: 5px;
  height: 5px;
  background-image: url(../img/cborder_tr.gif);
  background-position: 0 -0px;
}

.message_waku_ml {
  font-size: 0;
  padding: 0;
  background-image: url(../img/cborder_ml.gif);
  background-position: 0 -0px;
}

.message_waku_mr {
  font-size: 0;
  padding: 0;
  background-image: url(../img/cborder_mr.gif);
}

.message_waku_bl {
  font-size: 0;
  padding: 0;
  width: 5px;
  height: 5px;
  background-image: url(../img/cborder_bl.gif);
  background-position: 0 -0px;
}

.message_waku_bc {
  font-size: 0;
  padding: 0;
  background-image: url(../img/cborder_bc.gif);
  background-position: 0 -0px;
}

.message_waku_br {
  font-size: 0;
  padding: 0;
  width: 5px;
  height: 5px;
  background-image: url(../img/cborder_br.gif);
  background-position: 0 -0px;
}