html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

.section {
  position: relative;
}

h1 {
  display: block;
}

h2 {
  background-color: #6399c5;
  background-image: url(../img/bg-title.jpg);
  background-repeat: repeat-x;
  color: #fff;
  line-height: 22px;
  margin: 0;
  overflow: hidden;
  padding: 0 4px 8px 4px;
  height: 14px;
  word-wrap: break-word;
  word-break: break-all;
}

#header {
  background-color: #000;
  background-image: url(../img/menu/menu_back.jpg);
  background-repeat: repeat-x;
  height: 61px;
  overflow: hidden;
  width: 100%;
  min-width: 700px;
}

#header-menu {
  left: 200px;
  position: absolute;
  top: 15px;
}

#header-menu li {
  float: left;
  text-align: center;
  color: white;
  width: 95px;
}

#header-user_func {
  position: absolute;
  right: 10px;
  top: 15px;
}

#header-user_func li {
  float: left;
  text-align: center;
  color: white;
}

#header-border {
  background-color: #EEF2FF;
  border-top: 1px solid #7F9DB9;
  bottom: 0;
  height: 10px;
  position: absolute;
  width: 100%;
}

.header-menu-link {
  text-decoration: none;
  color: #FFF;
}

.header-menu-link:visited {
  text-decoration: none;
  color: #FFF;
}

.header-menu-link:hover {
  text-decoration: underline;
}

#menu {
  background-image: url("../img/dbg_list_back.jpg");
  background-position: right top;
  background-repeat: repeat-y;
  border-color: #7F9DB9;
  border-style: solid;
  border-width: 1px;
  float: left;
  margin-right: 10px;
  _margin-right: 5px;
  overflow: auto;
  width: 200px;
}

#menu h1 {
  padding-left: 10px;
}

.db-list {
  border-left: 1px solid #9FB7D4;
  border-right: 1px solid #9FB7D4;
}

.db-item {
  padding: 4px 4px;
  border-bottom-color: #7F9DB9;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  position: relative;
}

.db-open_menu {
  background-image: url(../img/btn_db_menu.gif);
  height: 16px;
  text-indent: -9999px;
  vertical-align: bottom;
  width: 16px;
  position: absolute;
  right: 4px;
  top: 4px;
}

.db-toggle_list {
  background-image: url("../img/ic_db_plus.gif");
  background-repeat: no-repeat;
  background-position: 0 0;
  float: left;
  height: 15px;
  width: 15px;
}

.db-item-opened .db-toggle_list {
  background-image: url("../img/ic_db_minus.gif");
}

.db-label-area {
  /margin-right: 20px;
}

.db-label {
  display: block;
  line-height: 15px;
  margin-right: 20px;
  /display: inline;
  /margin-right: 5px;
}

.clear {
  clear: both;
}

.db-item-disabled .db-label {
  color: #999;
}

.db-item-disabled .view-list {
  display: none;
}

.db_item-focused .db-label {
  font-weight: bold;
}

.view-list {
  display: none;
  _padding-left: 30px;
  _list-style-type: disc;
}

.view-item {
  padding: 2px 0 2px 16px;
  _padding-left: 0;
}

.view-label {
  background-image: url("/wdroot/img/ic_listmark.gif");
  background-repeat: no-repeat;
  background-position: 0 0;
  _background-image: none;
  display: block;
  line-height: 14px;
  padding-left: 10px;
  _padding-left: 0;
}

.view-hide {
  display: none;
}

.db_menu-item {
  background-image: url("../img/icos-pg_frame-db_menu-item.gif");
  white-space: nowrap;
}

.db_menu-configure {
  background-position: 7px -0px;
}

.db_menu-configure_views {
  background-position: 7px -30px;
}

.db_menu-start {
  background-position: 7px -60px;
}

.db_menu-stop {
  background-position: 7px -90px;
}

.db_menu-remove {
  background-position: 7px -120px;
}

#menu_border {
  background-color: #EEF2FF;
  background-image: url(../img/bg-menu_border.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: e-resize;
  float: left;
  position: absolute;
  top: -9999px;
  width: 10px;
}

#sub_border {
  background-color: #EEF2FF;
  background-image: url(../img/bg-menu_border_h.gif);
  background-position: 50% 50%;
  _background-position: 50% 0;
  background-repeat: no-repeat;
  cursor: s-resize;
  display: none;
  float: left;
  height: 10px;
  position: absolute;
  top: -9999px;
  width: 100%;
}

#border-drag_cover {
  background-image: url(../img/sp.gif);
  background-repeat: no-repeat;
  left: 0;
  position: absolute;
  top: 0;
}

.border-helper {
  background-color: #999;
  filter: alpha(opacity=70);
  opacity: .7;
  position: absolute;
}

#main {
  border-color: #7F9DB9;
  border-style: solid;
  border-width: 1px;
  margin: 0;
  overflow: hidden;
}

#main h2 {
  padding-left: 25px;
}

#main-frame {
  height: 0;
}

#change_size {
  left: 2px;
  position: absolute;
  top: 2px;
}

#sub {
  border-color: #7F9DB9;
  border-style: solid;
  border-width: 1px;
  display: none;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
}

#sub h2 {
  padding-left: 25px;
}

.btn-sub-close {
  display: inline-block;
  height: 16px;
  background-image: url(../img/btn-close.gif);
  background-position: 0 -0px;
  width: 16px;
  position: absolute;
  left: 3px;
  top: 3px;
}

.btn-sub-close:hover {
  background-image: url(../img/btn-close-hover.gif);
}

#footer {
  background-color: #EEF2FF;
  bottom: 0;
  height: 20px;
  left: 0;
  line-height: 20px;
  text-align: center;
  position: absolute;
  width: 100%;
}
