.hostid_cell {
  width: 140px;
  text-align: center;
}

.termkind_cell {
  width: 60px;
  text-align: center;
}

.term_cell {
  width: 100px;
  text-align: center;
}

.usercnt_cell {
  width: 200px;
}

.licensekey_cell {
  word-wrap: break-word;
}

.licensetermmsg {
  padding: 4px;
  border: solid 1px #7F9DB9;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.hostmsg {
  font-weight: bold;
}
