.itemlist_table {
  width: 350px;
  border: none;
}

.itemlist_table td {
  border: none;
}

.note {
  margin-bottom: 5px;
  line-height: 18px;
}

.note img {
  vertical-align: middle;
  margin-top: -4px;
}
