#dialog_del_conf div {
  padding: 3px 0;
}

#msg_del_warning_msgs {
  margin-top: 10px;
  border: 1px solid #7F9DB9;
  height: 120px;
  overflow: auto;
}

#msg_del_warning_msgs li {
  padding: 4px;
}

.msg_nodisplay {
  display: none;
}
