.display-none {
  display: none;
}

.cell-sample {
  width: 110px;
}

.bgcolor-head {
  background-color: #ccc;
}

.bgcolor-cell {
  background-color: #fff;
}

.bgcolor-val {
  background-color: #69f;
}

.bgcolor-row {
  background-color: #9f9;
}

.bgcolor-col {
  background-color: #f99;
}

.sample_mini_table {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-color: #333;
  width: auto;
}

.sample_mini_table td {
  padding: 0;
  border: 1px solid #666;
  width: 30px;
  height: 9px;
}

.sample_area_table {
  table-layout: auto;
  border: none;
  width: auto;
}

.sample_area_table td {
  border: none;
}

.sample_area {
  background-color: #eee;
  border: 1px solid #000;
  width: auto;
  padding-bottom: 30px;
}

.sample_title {
  padding: 2px;
  font-weight: bold;
}

#sample_table {
  table-layout: auto;
  margin: 20px 30px 0 30px;
  width: auto;
}

#sample_table th {
  border: 1px solid #666;
  text-align: left;
}

#sample_table td {
  border: 1px solid #666;
  text-align: right;
}

#sample_table th div {
  min-width: 50px;
  max-width: 200px;
  word-wrap: break-word;
  word-break: break-all;
  /min-width: 0;
  /max-width: none;
}

#sample_table td div {
  white-space: nowrap;
}

#sample_table th.sub_th_space {
  width: 10px;
  min-width: 10px;
}

.sortimg {
  vertical-align: bottom;
}

.note_ex {
  padding-top: 3px;
}

.sel_sort {
  padding: 5px 5px 5px 10px;
}

.sel_sort_div {
  padding: 2px;
}