.display-none {
  display: none;
}

.note_ex {
  line-height: 20px;
  vertical-align: text-bottom;
}

.sample_block_outer {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #fda;
  border: 1px solid #7F9DB9;
  vertical-align: text-bottom;
}

.dltmpl-dbname_table {
  width: 100%;
  margin: 5px 0;
}

.dltmpl-dbname_table td {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  border: none;
  padding: 0;
}

.dbname_table-icon {
  width: 20px;
}

.dbname_table-del {
  width: 100px;
  text-align: right;
  vertical-align: bottom;
}

.dltmpl-col_table {
  width: 100%;
}

.dltmpl-col_table th,
.dltmpl-col_table td {
  padding: 3px;
}

.col_table-name {
  word-wrap: break-word;
  word-break: break-all;
}

.outer td {
  background-color: #fda;
}