#entry-license-form table {
  width: 400px;
}

#entry-license-form th {
  width: 150px;
}

#entry-license-form td {
  padding-left: 2px;
  width: 250px;
}

#entry-license-form input {
  width: 220px;
}

#entry-license-form .note {
  margin: 2px;
}