#view-stop_sorting {
  display: none;
}

.display-none {
  display: none;
}

.view-name {
  word-wrap: break-word;
  word-break: break-all;
}

.view-default {
  text-align: center;
  width: 70px;
}

.view-default img {
  vertical-align: middle;
}

.view-status {
  text-align: center;
  width: 70px;
}

.view-operation {
  text-align: center;
  width: 150px;
}
