/***************************************************************
    基本CSS
***************************************************************/
/*--------------------------------------------------------------
    フォント
--------------------------------------------------------------*/
body, input, button, textarea, select, option{
    font-family: Arial, sans-serif;
}
/*--------------------------------------------------------------
    改行
--------------------------------------------------------------*/
body{
    word-break: normal;
}
/*------------------------------------------------
    イタリック（メイリオ全角対応）
------------------------------------------------*/
i, [style*=italic]{
    font-family: Arial,sans-serif;
}
/*------------------------------------------------
    斜体（メール本文、印刷、確認）
------------------------------------------------*/
.jmail-body i,      .pbody i,       .send_conf-body-iframe-body i,   
.jmail-body cite,   .pbody cite,    .send_conf-body-iframe-body cite,
.jmail-body em,     .pbody em,      .send_conf-body-iframe-body em,
.jmail-body var,    .pbody var,     .send_conf-body-iframe-body var,
.jmail-body dfn,    .pbody dfn,     .send_conf-body-iframe-body dfn{
    font-family: Arial,sans-serif;
}
