/*------------------------------------------------
    各種アイコン
------------------------------------------------*/
/* 外出 */
.sch-ictype1-out{ background-image: url(/dneospres/lang/en_US/images/sch/ic_out.gif);        }
/* 仮予定 */
.sch-ictype1-tmp{ background-image: url(/dneospres/lang/en_US/images/sch/ic_tmpreserve.gif); }
/* 重要 */
.sch-ictype1-imp{ background-image: url(/dneospres/lang/en_US/images/sch/ic_important.gif);  }
/* 定期 */
.sch-ictype1-rep{ background-image: url(/dneospres/lang/en_US/images/sch/ic_regular.gif);  }
/* 承認依頼 */
.sch-ictype1-approve{ background-image: url(/dneospres/lang/en_US/images/sch/ic_approve.gif);  }
/* 承認完了 */
.sch-ictype1-appfinish{ background-image: url(/dneospres/lang/en_US/images/sch/ic_end.gif);  }
/* 承認依頼 */
.sch-ictype1-appreq{ background-image: url(/dneospres/lang/en_US/images/sch/ic_request.gif);  }
