/*------------------------------------------------
    基本CSS
------------------------------------------------*/
body, input, button, textarea, select, option{
    font-family: Arial, sans-serif !important;
}
.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
    font-family: Arial, sans-serif !important;
}
.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c {
    font-family: Arial, sans-serif !important;
}
/*------------------------------------------------
    イタリック（メイリオ全角対応）
------------------------------------------------*/
i, [style*=italic]{
    font-family: Arial,sans-serif;
}
/*************************************************
    例外
*************************************************/
/*------------------------------------------------
 日本語はサイズで改行、英語は単語で改行
------------------------------------------------*/
body{
    word-break: normal;
}
