/*************************************************
    言語
*************************************************/
/*------------------------------------------------
    基本CSS
------------------------------------------------*/
body, input, button, textarea, select, option{
    /* cgi-bin/dneo/local/xxx/com_localと揃える */
    font-family: 'メイリオ', Meiryo, 'Hiragino Kaku Gothic Pro W3', 'ヒラギノ角ゴ Pro W3', 'ＭＳ Ｐゴシック', Arial,sans-serif;
}
/*------------------------------------------------
    jQuery UI （ダイアログ、日付選択など）
------------------------------------------------*/
.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
    /* 基本CSSの設定と揃える（画面とダイアログで同じフォントになるようにする） */
    font-family: 'メイリオ', Meiryo, 'Hiragino Kaku Gothic Pro W3', 'ヒラギノ角ゴ Pro W3', 'ＭＳ Ｐゴシック', Arial,sans-serif;
}
/*------------------------------------------------
    イタリック（メイリオ全角対応）
------------------------------------------------*/
i, [style*=italic]{
    font-family: 'Hiragino Kaku Gothic Pro W3', 'ヒラギノ角ゴ Pro W3', 'ＭＳ Ｐゴシック', Arial,sans-serif;
}
/*------------------------------------------------
    タイトル（イタリック = ユーザー記述）
------------------------------------------------*/
.co-m-title .overflow,
.co-m-title .overflow-auto{
    font-family: 'Hiragino Kaku Gothic Pro W3', 'ヒラギノ角ゴ Pro W3', 'ＭＳ Ｐゴシック', Arial,sans-serif;
}
/*------------------------------------------------
    斜体
------------------------------------------------*/
.co-mceview i,
.co-mceview cite,
.co-mceview em,
.co-mceview var,
.co-mceview dfn{
  font-family: 'Hiragino Kaku Gothic Pro W3', 'ヒラギノ角ゴ Pro W3', 'ＭＳ Ｐゴシック', Arial,sans-serif;
}
/** no edit start !このコメントは削除しないでください! **/
/*------------------------------------------------
    画像編集
------------------------------------------------*/
/* ボタン */
.co-ied-pop input,
.co-ied-pop button,
.co-ied-pop select,
.co-ied-pop textarea {
    font-family: "メイリオ",Meiryo,"Hiragino Kaku Gothic Pro W3","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック",sans-serif;
}

/* テキスト：フォント */
.co-ied-pop a[name=text_font0], .co-ied-pop label[for=text_font0] { font-family: 'Hiragino Kaku Gothic Pro W3','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック', 'MS P Gothic', Arial, sans; }
.co-ied-pop a[name=text_font1], .co-ied-pop label[for=text_font1] { font-family: 'Hiragino Mincho Pro W6', 'ヒラギノ明朝 Pro W6', 'ＭＳ 明朝', 'MS Mincho', 'Times New Roman', sans-serif; }
.co-ied-pop a[name=text_font2], .co-ied-pop label[for=text_font2] { font-family: 'メイリオ', Meiryo, 'Hiragino Maru Gothic Pro', 'ヒラギノ丸ゴ Pro', Verdana, sans; }
.co-ied-pop a[name=text_font3], .co-ied-pop label[for=text_font3] { font-family: Impact, sans; }
.co-ied-pop a[name=text_font4], .co-ied-pop label[for=text_font4] { font-family: 'Courier New', sans; }
/** no edit end !このコメントは削除しないでください! **/
/*************************************************
    サイズ
*************************************************/
/*------------------------------------------------
 注釈のインデント 
------------------------------------------------*/
p.co-msg,
p.co-msg-b,
p.co-msg-g,
p.co-msg-r,
p.co-msg-rs{
    padding-left: 1.4em;
    text-indent: -1.4em;
}
/*************************************************
    例外
*************************************************/
/*------------------------------------------------
 日本語はサイズで改行、英語は単語で改行
------------------------------------------------*/
body{
    word-break: break-all;
}
#jco-print-body .co-mceview{
    word-break: break-all;
}

/*************************************************
 画像
*************************************************/
/*------------------------------------------------
    各種アイコン
------------------------------------------------*/
/* 外出 */
.sch-ictype1-out{
    background-image: url(/dneores/lang/ja_JP/images/sch/ic_out.gif);
}
.co-browser-IE-8 .sch-ictype1-out{
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/dneores/lang/ja_JP/images/sch/ic_out.gif', sizingMethod='scale');
}
/* 仮予定 */
.sch-ictype1-tmp{
    background-image: url(/dneores/lang/ja_JP/images/sch/ic_tmpreserve.gif);
}
.co-browser-IE-8 .sch-ictype1-tmp{
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/dneores/lang/ja_JP/images/sch/ic_tmpreserve.gif', sizingMethod='scale');
}
/* 重要 */
.sch-ictype1-imp{
    background-image: url(/dneores/lang/ja_JP/images/sch/ic_important.gif);
}
.co-browser-IE-8 .sch-ictype1-imp{
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/dneores/lang/ja_JP/images/sch/ic_important.gif', sizingMethod='scale');
}
/* 定期 */
.sch-ictype1-rep{
    background-image: url(/dneores/lang/ja_JP/images/sch/ic_regular.gif);
}
.co-browser-IE-8 .sch-ictype1-rep{
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/dneores/lang/ja_JP/images/sch/ic_regular.gif', sizingMethod='scale');
}
/* 承認依頼 */
.sch-ictype1-approve{
    background-image: url(/dneores/lang/ja_JP/images/sch/ic_approve.gif);
}
.co-browser-IE-8 .sch-ictype1-approve{
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/dneores/lang/ja_JP/images/sch/ic_approve.gif', sizingMethod='scale');
}
/* 承認完了 */
.sch-ictype1-appfinish{
    background-image: url(/dneores/lang/ja_JP/images/sch/ic_end.gif);
}
.co-browser-IE-8 .sch-ictype1-appfinish{
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/dneores/lang/ja_JP/images/sch/ic_end.gif', sizingMethod='scale');
}
/* 承認依頼 */
.sch-ictype1-appreq{
    background-image: url(/dneores/lang/ja_JP/images/sch/ic_request.gif);
}
.co-browser-IE-8 .sch-ictype1-appreq{
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/dneores/lang/ja_JP/images/sch/ic_request.gif', sizingMethod='scale');
}
/*------------------------------------------------
    各種アイコン(ワークフロー)
------------------------------------------------*/
/* 承認印 */
.flow-view-signs .sign {
    background-image: url("/dneores/lang/ja_JP/images/flow/flow-sign.png");
}
/* 否認印 */
.flow-view-signs .sign.sign_deny {
    background-image: url("/dneores/lang/ja_JP/images/flow/flow-sign_deny.png");
}
/* 確認印 */
.flow-view-signs .sign.sign_conf {
    background-image: url("/dneores/lang/ja_JP/images/flow/flow-sign_conf.png");
}
/* 決裁印 */
.flow-view-signs .sign.sign_decision {
    background-image: url("/dneores/lang/ja_JP/images/flow/flow-sign_decision.png");
}
/*------------------------------------------------
    交通費
------------------------------------------------*/
/* 早い */
.cost-route-icon.fast {
    background-image: url("/dneores/lang/ja_JP/images/cost/ic_route_fast.png");
}
.cost-pop li.on .cost-route-icon.fast {
    background-image: url("/dneores/lang/ja_JP/images/cost/ic_route_fast_on.png");
}
/* 安 */
.cost-route-icon.lowproce {
    background-image: url("/dneores/lang/ja_JP/images/cost/ic_route_lowproce.png");
}
.cost-pop li.on .cost-route-icon.lowproce {
    background-image: url("/dneores/lang/ja_JP/images/cost/ic_route_lowproce_on.png");
}
/* 楽 */
.cost-route-icon.easy {
    background-image: url("/dneores/lang/ja_JP/images/cost/ic_route_easy.png");
}
.cost-pop li.on .cost-route-icon.easy {
    background-image: url("/dneores/lang/ja_JP/images/cost/ic_route_easy_on.png");
}
/*------------------------------------------------
    新着アイコン(インフォメーション)
------------------------------------------------*/
.info-new-icon{
    color: #ff0000;
}
.info-new-icon:after{
    content: '[NEW]';
}
